<h2>Add A Meal</h2> <br>
<div class="row">
    <form action="/addMeal" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" id="imageFile" name="imageFile" type="file"
                        placeholder="Insert The Meal Image" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="title" name="title" type="text"
                        placeholder="Insert The Meal Title" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="ingredients" name="ingredients" type="text"
                        placeholder="Insert The Meal Ingredients" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="desc" name="desc" type="text"
                        placeholder="Insert The Meal Description" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="category" name="category" type="text"
                        placeholder="Insert The Meal Category" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="price" name="price" type="number" min="1"
                        placeholder="Insert The Meal Price" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="cookTime" name="cookTime" type="number"
                        placeholder="Insert The Meal Cook Time" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="cal" name="cal" type="number"
                        placeholder="Insert The Meal Calories" />
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="topMeal" name="topMeal" type="checkbox" />
                    <label class="form-check-label" for="topMeal">Is it a top meal?</label>
                </div>

            </div>
        </div>
        <input type="text" name="" id="">

    </form>

</div>