<script> document.title = 'Login' </script>

<form action="post">
    <input type="text" name="username" id="username" placeholder="Username"><br>
    <input type="password" name="password" id="password" placeholder="Password">
</form>